* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}


/* Scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #24252a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #464853;
}


/* Nav */

nav{
  margin-right: 10%;
  float: right;
}

.logo {
  cursor: pointer;
  font-size: 25px;
}
.nav__links a,
.cta,
.logo,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  padding-top: 10%;
  list-style: none;
  display: flex;
  font-size: 15px;
  width: 100px;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.title{
  padding: 30px 10%;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  /* text-decoration: underline; */
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-shadow: 1px 1px grey;
  text-underline-offset: 15px;
  color: white;
  background-color: #24252a;
}

/* Card */
.card_container{
  width: 100%;
  height: auto;
  border-bottom: 3px solid grey;
  background-color: #24252a ;
}

.card_container p span {
  position: absolute;
  display: block;
}

.card_container p span:nth-child(1) {
  bottom: -55px;
  left:-50%;
  width: 5%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 2s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: 42%;
  }
  50%,100% {
    left: 53%;
  }
}

.card_left{
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar_left{
  float:left;
  margin-left: 5%;
  border: 5px solid white;
  border-radius: 5px;
  width: 40%;
}
.card_details_left{
  display:inline-block;
  width: 45%;
  float:right;
  font-size: 18px;
  color:white;
  margin-right: 5%;
}

.card_right{
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar_right{
  float:left;
  margin-right: 5%;
  border: 5px solid white;
  border-radius: 5px;
  width: 40%;
}
.card_details_right{
  display:inline-block;
  width: 40%;
  font-size: 18px;
  float:right;
  color:white;
  margin-left: 10%;
}

/* Tabs */
.video_section{
  padding-bottom: 20px;
  border-bottom: 3px solid grey;
  background-color: #24252a;

}
.tabs_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24252a;
}

.tabs{
    padding: 20px 5%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: white;
    text-shadow: 1px 1px grey;
    background-color: #24252a;
}

.tabs_content{
    background-color: #24252a;
}

.tabs:hover{
  color: red;
}

/* Video */
#video{
  display:flex;
  width: 100%;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
  transition: all 1s ease 0.5s
}

/* Special mentions section */

.special_section{
    background-color: #24252a;
}

.special_section p span {
  position: absolute;
  display: block;
}

.special_section p span:nth-child(1) {
  bottom: -2180px;
  left:-50%;
  width: 5%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 2s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: 42%;
  }
  50%,100% {
    left: 53%;
  }
}
.special_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #24252a;
  padding-bottom: 40px;
  border-bottom: 1px solid white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.special_content{
  display:flex;
  float:right;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px grey;
  background-color: #24252a;
}
.text_content{
  display:inline-block;
  width: 60%;
  float:right;
  padding-left: 20px;
  font-size: 18px;
  color:white;
  margin-right: 0%;
}
.contentImage{
  float:left;
  margin-left: 5%;
  border: 5px solid white;
  border-radius: 5px;
  width: 40%;
}
